@page
@model ErrorModel
@{
    ViewData["Title"] = Global.Error;

    @section Breadcrumbs {
        <nav>
            <h2 class="wb-inv">@Template.YouAreHere</h2>
            <ol class="breadcrumb">
                <li>
                    <a asp-route="@routeMap.GetRouteName("/Agreement/Index")"><span class="">@Global.Home</span></a> <i class="small white right chevron icon"></i>
                </li>
                <li>
                    <span class="ui white text">@Global.Error</span>
                </li>
            </ol>
        </nav>

    }
}

<div class="ui icon negative message">
    <i class="info circle icon"></i>
    <div class="content">
        <div class="header">
            There was an error to process your request
        </div>
        <p>
            @Html.Raw(Model.ErrMsg)
        </p>
    </div>
</div>
