@page
@model Web.Pages.Admin.AgreementModel
@{

    ViewData["Title"] = Global.AppTitle;

    @section Breadcrumbs {
        <nav>
            <h2 class="wb-inv">@Template.YouAreHere</h2>
            <ol class="breadcrumb">
                <li>
                    <a asp-route="@routeMap.GetRouteName("/Agreement/Index")"><span class="">@Global.Home</span></a> <i class="small white right chevron icon"></i>
                </li>
                <li>
                    <a asp-route="@routeMap.GetRouteName("/Admin")"><span class="">@Global.Administration</span></a> <i class="small white right chevron icon"></i>
                </li>
                <li>
                    <span class="ui white text">@Global.ManageAgreements</span>
                </li>
            </ol>
        </nav>
    }
}
<form class="ui form" id="updat-agreement-form" method="post">
    <div class="ui segments">
        <div class="ui segment">
            <Heading icon="users" headingLevel="2" primaryText="@Global.ManageAgreements" secondaryText=""></Heading>
        </div>


        <div class="ui padded blue segment">
            <div class="ui visible success message" id="msg-success">
                <i class="close icon"></i>
                <div class="header">
                    @Global.Message_UpdateSuccess
                </div>
                <p>@Global.Message_EmailSent</p>
            </div>
            <div class="ui visible negative  message" id="msg-notfound">
                <i class="close icon"></i>
                <div class="header">
                    @Global.Message_NotFound
                </div>
                <p>@Global.Message_NotFoundEmployee</p>
            </div>
            <div class="ui visible negative  message" id="msg-err">
                <i class="close icon"></i>
                <div class="header">
                    @Global.Message_UpdateFail
                </div>
                <p>@Global.Message_UpdateError</p>
            </div>
            <div class="ui grid" id="search-agreement">

                <div class="six wide column">
                    <div class="field">
                        <label><strong>@Global.SearchAgreementByName</strong></label>
                        <input type="text" id="txtEmployeeName" name="empName" />
                    </div>
                </div>
            </div>
        </div>
        <div class="ui padded segment">
            <input type="hidden" id="hfAgmtId" name="AgmtId" />

            <table id="employee-agmt-div" class="ui table">
                <thead>
                    <tr>
                        <th>@Global.Employee</th>
                        <th class="left aligned">@Global.Status</th>
                        <th class="left aligned">@Global.DecisionDate</th>
                        <th class="left aligned">@Global.ImmediateSupervisor</th>
                        <th class="left aligned">@Global.Approver</th>
                        <th class="left aligned">@Global.ReturnTo</th>
                    </tr>
                </thead>
                <tfoot class="full-width">
                    <tr>
                        <th></th>
                        <th colspan="5">
                            <div class="ui right floated small primary labeled icon button" id="btnAgmtUpdate">
                                <i class="user icon"></i>@Global.Update
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
            <br />
            <br /><br />
        </div>

        <div class="ui center aligned basic segment">
            <a class="ui primary button" asp-route="@routeMap.GetRouteName("/Admin")">@Global.Back</a>
        </div>
    </div>

</form>
<script type="text/javascript" on-content-loaded="true">
    var hostUrl = window.location.href;
    var baseurl = hostUrl.substr(0, hostUrl.indexOf('/en/') + hostUrl.indexOf('/fr/') + 2);
    var lang = $('#lang').val();
    var list = null;
    var table = $('#employee-agmt-div').DataTable({
        paging: false,
        searching: false,
        ordering: false,
        info: false,
        columns: [null,{ 'width': '20%' }, null, null, null, { width: '30%' }],
        autoWidth: false,
        fixedColumns: true,
        ajax: function (data, callback, settings) {
            callback(list);
        },
        columns: [
                    { data: 'employee' },
                    { data: 'status' },
                    {
                        data: 'decisionDate',
                        render: DataTable.render.date(),
                    },
                    { data: 'approver' },
                    { data: 'recommender' },
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            rendered = '<select style="width:80%" id="returnTo" name="returnTo" ><option value="-1">@Global.Select</option>';
                            if (row.statusCode !== '6' && row.statusCode !== '5' && row.statusCode !== '1') {
                                //console.log(row);
                                $("#hfAgmtId").val(row.id);
                                if (row.statusCode == '2') {
                                    rendered = rendered + '<option value="e">@Global.Employee</option></select>';
                                } else if (row.statusCode === '3' || (row.statusCode === '4' && row.canReturn == 1 && row.recommender == null)) {
                                    rendered = rendered + '<option value="a">@Global.ImmediateSupervisor</option><option value="e">@Global.Employee</option></select>';
                                } else if (row.statusCode === '4' && row.canReturn == 1) {
                                    rendered = rendered + '<option value="a">@Global.ImmediateSupervisor</option><option value="r">@Global.Approver</option><option value="e">@Global.Employee</option></select>';
                                }
                            } else {
                                rendered = '';
                            } 
                            return rendered;
                        },
                    }
                 ],
    });

    $(".message").hide();
    $("#employee-agmt-div").hide();
    $("#btnAgmtUpdate").addClass('disabled');

    table.on("change", '#returnTo', function () {
        if (this.value !== '-1') {
            $("#btnAgmtUpdate").removeClass('disabled');
        } else {
            $("#btnAgmtUpdate").addClass('disabled');
        }
    });

    $("#txtEmployeeName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: baseurl + 'api/agreement/Searchuser',
                data: { "prefix": request.term },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return item;
                    }))
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        },
        select: function (e, i) {
            $(".message").hide();
            $("#btnAgmtUpdate").addClass('disabled');

            $("#txtEmployeeName").val(i.item.label);
            findAgreement(i.item.value);
            return false;
        },
        minLength: 3,
        appendTo: "#search-agreement"
    });

    $("#btnAgmtUpdate").click(function () {
        var id = $("#hfAgmtId").val();
        var retCode = table.$('select').val()
        $("#btnAgmtUpdate").addClass('disabled');
        $.ajax({
            url: baseurl + 'api/agreement/updateagreement',
            data: { "id": id, "returnTo": retCode, "lan": lang },
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    list = { "data": data };
                    table.ajax.reload();
                    $("#employee-agmt-div").show();
                    $("#msg-success").show();
                } else {
                    $("#msg-err").show();
                }
            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    });
    function findAgreement(agmtId) {
        $.ajax({
            url: baseurl + 'api/agreement/searchagreement',
            data: { "userId": agmtId, "lan": lang },
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    list = { "data": data };
                    table.ajax.reload();
                    $("#employee-agmt-div").show();
                } else {
                    $("#employee-agmt-div").hide();
                    $("#msg-notfound").show();
                }

            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    }

    $('.message .close')
        .on('click', function () {
            $(this).closest('.message').transition('fade');
        });
</script>