@model Web.Pages.HomeModel
<div class="ui visible negative  message">
    <div class="header">
        <i class="inverted circular info red icon"></i> @Global.UnableToStartRequest
    </div>
    @if (Model.TcDirInfo == null)
    {
        <p>@Global.ADInfoNotFound</p>
    }else{
        <p>@Html.Raw(string.Format(Global.TIPSInfoNotFound, @Model.AdminEmail, @Model.AdminEmail))</p>
    }

</div>