@page
@model Web.Pages.HomeModel
@{
    ViewData["Title"] = Global.AppTitle;

    @section Breadcrumbs {
        <nav>
            <h2 class="wb-inv">@Template.YouAreHere</h2>
            <ol class="breadcrumb">
                <li>
                    <span class="ui white text">@Global.MyAgreement</span>
                </li>
            </ol>
        </nav>

    }
}


@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/agreement.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/agreement.min.css" asp-append-version="true" />
    </environment>
}
@if (Model.TcDirInfo?.EmployeePin == null)
{
    <partial name="Shared/_MissingADInfo" model="@Model" />
}
else
{
    <div data-testid="section-summary" class="ui segment">
        <div class="ui fully-centered grid">
            <div class="twelve wide column">
                <Heading icon="file alternate outline" headingLevel="2" primaryText="@Global.LblMyAgreements" secondaryText="@ViewContext.HttpContext.Session.GetString("DisplayName"): @Global.LblReviewMyAgreements"></Heading>
            </div>
            <div class="four wide column">
                <span class="right floated">
                    <h2 class="ui small header">@Global.ProtectedA</h2>
                </span>
            </div>
        </div>
    </div>

    <form class="ui form" id="my-agreements-form" asp-antiforgery="true" method="post" tabindex="0">



        <partial name="Shared/_Section-Summary" model="@Model" />

    </form>
}



@section Scripts {
    <environment include="Development">
        <script src="~/js/agreementForm.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/agreementForm.min.js"></script>
    </environment>
}
