@model Web.Pages.Shared.EmailContent._OnCreationEmailModel

<style>
    a.accessible-link {
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<p>Good day @Model.SupervisorFullName,</p>

<p>
    A Work Arrangement Agreement (WAA) has been submitted by @Model.EmployeeFullName for your review.
</p>

<p>
    Information and considerations for reviewing work arrangement agreements for your team can be found in the
    <a class="accessible-link" href="https://mytc-montc.tc.gc.ca/rdims.php?id=17998178" target="_blank">Guide to Reviewing Employee Work Arrangement Agreements</a>.
</p>

<p>
    If you have the <a class="accessible-link" href="https://mytc-montc.tc.gc.ca/rdims.php?id=14435629" target="_blank">delegated authority</a>
    to approve work arrangement agreements, you may approve or deny the request.
    If you do not have the delegated authority, you may only recommend or deny the request.
</p>

<p>
    The employee will be notified of your decision.
    If you deny the request, the employee will be informed of the reason(s) and may wish to discuss this with you.
</p>

<p>
    If you have any questions or concerns, contact your regional Human Resources or Labour Relations Advisor.
</p>

<p>
    “Click” on the link below to access the WAA and input your decision. To log into this app, you must be connected to the VPN.
</p>

<p>
    <a class="accessible-link" href="@($"{Model.BaseURL}/en/agreement")" target="_blank">Work Arrangement Agreement</a>
</p>

<hr />

<p>Bonjour @Model.SupervisorFullName,</p>

<p>
    Une Entente d’aménagement de travail (EAT) a été soumise par @Model.EmployeeFullName pour votre revue.
</p>

<p>
    Vous trouverez des informations et des considérations à garder en tête pour la revue des ententes d’aménagement de travail de votre équipe dans le
    <a class="accessible-link" href="https://mytc-montc.tc.gc.ca/rdims.php?id=18014985" target="_blank">Guide d'examen des ententes d’aménagement de travail des employés</a>.
</p>

<p>
    Si vous avez la <a class="accessible-link" href="https://mytc-montc.tc.gc.ca/rdims.php?id=14484588" target="_blank">délégation des pouvoirs</a>
    d'approuver les ententes d’aménagement de travail, vous pouvez approuver ou refuser la demande.
    Si vous n'avez pas la délégation des pouvoirs, vous pouvez seulement recommander ou refuser la demande.
</p>

<p>
    L'employé sera informé de votre décision.
    Si vous refusez la demande, l'employé sera informé de la ou des raisons et pourrait souhaiter en discuter avec vous.
</p>

<p>
    Si vous avez des questions ou préoccupations, contactez votre conseiller régional en ressources humaines ou en relations de travail.
</p>

<p>
    «Cliquez» sur le lien ci-dessous pour accéder à l'EAT et inscrire votre décision.
    Pour vous brancher à cette application, vous devez être connecté au RPV.
</p>

<p>
    <a class="accessible-link" href="@($"{Model.BaseURL}/fr/entente")" target="_blank">Entente d’aménagement de travail</a>
</p>